.mainWrapper{
    height: 100%;
    width: 100%;
    background-color: white;
    /* background-image: url('../../assets/images/mainPageBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
  }
  