.mainWrapper{
    height: 100%;
    width: 100%;
    background-color: white;
  }
.buttonToTop{
    position: fixed;
    width: 55px;
    height: 55px;
    right: 22px;
    bottom: 20px;
    z-index: 999;
}
.buttonToTop  img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    box-shadow: 6px 5px 30px 0px rgba(0, 0, 0, 0.15);
    background-color: white;
}
.buttonToTop > div:active{
    transform: scale(1.1);
}
.buttonToTop > div{
    cursor: pointer;
}
.buttonToTop > div:hover img {
    transform: scale(1.1); 
}

