.whyBlock{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin-bottom: 100px;
}
.whyblockLeft{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-end;
}
.whyblockleftText{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    align-items: center;
}
.whyblockleftText > h1{
    margin-bottom: 15px;
    font-size: 40px;
}
.whyBlockContentRowPink ,
.whyBlockContentRowWhite ,
.whyBlockContentRowYellow{
    border-radius: 10px;
    box-shadow: 6px 5px 30px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    width: 580px;
    height: fit-content;
    margin: 10px 0;
    padding: 15px;
    align-items: center;
}
.whyBlockContentRowPink{
    background-color:  #FCD8E7;
}
.whyBlockContentRowWhite{
    background-color: white;
}
.whyBlockContentRowYellow{
    background-color: #FEF1A8;
}
.whyBlocContentTextRow >h2{
    font-size: 22px;
    font-weight: 700;
}
.whyBlocContentTextRow >p{
    margin-top: 5px;
    text-indent: 20px;
    font-size: 18px;
    font-weight: 500;
}
.WhyblockRight{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: flex-start;
}
.WhyblockRight > img{
    position: relative;
    top: 15px;
    width: 570px;
    height: 570px;
    margin-left: 18px;
    border-radius: 100%;
    box-shadow: 6px 5px 30px 0px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1250px) {
    .whyBlock {
        margin-top: 50px;
    }
    .WhyblockRight > img{
        width: 540px;
        height: 540px;
        margin-left: 20px;
    }
    .whyBlockContentRowPink ,
    .whyBlockContentRowWhite ,
    .whyBlockContentRowYellow{
        width: 565px;
    }
}

@media screen and (max-width: 1200px) {
    .whyblockLeft{
        width: 100%;
        justify-content: center;
    }
    .WhyblockRight{display: none;}
}

@media screen and (max-width: 850px) {
    .whyblockleftText > h1{
        font-size: 35px;
    }
}


@media screen and (max-width: 600px) {
    .whyBlock{
        margin-bottom: 50px;
    }
    .whyBlock {
        margin-top: 20px;
    }
    .whyblockleftText > h1{
        font-size: 30px;
        width: 300px;
        text-align: center;
    }
    .whyBlockContentRowPink ,
    .whyBlockContentRowWhite ,
    .whyBlockContentRowYellow{
        width: 380px;
    }
    .whyBlocContentTextRow >h2{
        font-size: 20px;
        font-weight: 700;
    }
    .whyBlocContentTextRow > p{
        font-size: 16px;
        font-weight: 500;
    }
}
