.coursesA1A2{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
}
.coursesA1A2 > h1{
    font-size: 40px;
    font-weight: 700;
    margin: 20px 0;
}
.coursesA1A2 span{
    color: #A5D3FD;
}
.coursesA1A2Content{
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    margin-top: 20px;
}
.coursesA1A2Ticket{
    display: flex;
    flex-direction: row;
}
.coursesA1A2YellowTicket,
.coursesA1A2WhiteTicket{
    display: flex;
    flex-direction: column;
    box-shadow: 6px 5px 30px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin: 0 15px;
    padding: 15px;
    align-items: center;
}
.coursesA1A2YellowTicket{background-color: #FEE440;}
.coursesA1A2WhiteTicket{background-color: white;}

.coursesA1A2YellowTicket > h2,
.coursesA1A2WhiteTicket > h2{
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 5px;
}
.coursesA1A2YellowTicket > p,
.coursesA1A2WhiteTicket > p{
    font-size: 22px;
    font-weight: 600;
}
.coursesA1A2YellowTicket > p:nth-last-child(2),
.coursesA1A2WhiteTicket > p:nth-last-child(2){
  margin-top: 10px;
}

.coursesA1A2YellowTicket >p:nth-last-child(2){
    color: white;
}


/* bittons */
.A1_A2TiketButton{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5px;
    align-items: center;
}


.coursesA1A2ButtonWhite,
.coursesA1A2ButtonPink{
    background-color: white;
    box-shadow: 6px 5px 30px 0px rgba(0, 0, 0, 0.15);
    width: 210px;
    height: 60px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    margin-top: 10px;
}
.coursesA1A2ButtonPink{
    background-color: #FCB0CF;
    color: white;
}
.coursesA1A2ButtonPink:active,
.coursesA1A2ButtonWhite:active{
    transform: scale(1.1);
}

.coursesA1A2ButtonMore{
    box-shadow: 6px 5px 30px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    background-color: transparent;
    margin-top: 15px;
}
.coursesA1A2ButtonMore > img{
    width: 60px;
    height: 60px;
}

/* infoblock */
.A1_A2infoCoursesBlock{
    background: linear-gradient(180deg, #FEF1A8 0%, #FCD8E7 99.99%, rgba(217, 217, 217, 0.00) 100%);
    box-shadow: 6px 5px 30px 0px rgba(0, 0, 0, 0.15);
    display: flex;
    flex-direction: row;
    width: 97.7%;
    height: 400px;
    border-radius: 20px;
    margin: 15px;
}
.A1_A2infoCoursesBlock > img{
    width: 400px;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border-right: 2px solid #000;
}
.A1_A2infoContent{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.A1_A2infoTitle{
    background-color: #FEE440;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 10px;
    border-bottom-right-radius: 10px;
}
.A1_A2infoTitle > p{
    font-size: 25px;
    font-weight: 700;
}
.A1_A2infoText{
    width: 800px;
    margin-left: 30px;
}
.A1_A2infoText > p{
    font-size: 18px;
    font-weight: 400;
}
