.footerBlock{
    background: linear-gradient(91deg, #FEEFAD 0%, #FCD8E7 99.92%, rgba(255, 255, 255, 0.00) 100%);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100px;
}
.topFooterBlock{
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
}
.leftFooterLinks{
    display: flex;
    height: 100%;
    width: fit-content;
    align-items: flex-end;
    justify-content: flex-end;
}
.leftFooterLinks >a{
    margin-left: 10px;
}
.centerFooterButton{
    display: flex;
    height: 100%;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
    width: fit-content;
    align-items: center;
    justify-content: center;
}
.rightFooterLinks{
    display: flex;
    height: 100%;
    width: fit-content;
    align-items: flex-end;
    justify-content: flex-start;
}
.rightFooterLinks >a{
    margin-right: 10px;
}
.bottomFooterBlock{
    display: flex;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
}
.bottomFooterBlock >p{
    color: gray;
    font-size: 15px;
    font-weight: 500;
}
.centerFooterButton > div{
    cursor: pointer;
}
.centerFooterButton > div:hover img {
    transform: scale(1.1); 
}
.leftFooterLinks img {
    width: 30px;
    height: 30px;
}
.rightFooterLinks img {
    width: 30px;
    height: 30px;
}
.centerFooterButton  img{
    width: 55px;
    height: 55px;
}
@media screen and (max-width: 850px) {
    .leftFooterLinks img {
        width: 25px;
        height: 25px;
    }
    .rightFooterLinks img {
        width: 25px;
        height: 25px;
    }
    .centerFooterButton  img{
        width: 55px;
        height: 55px;
    }
}