.footer{
    background: linear-gradient(91deg, #FEEFAD 0%, #FCD8E7 99.92%, rgba(255, 255, 255, 0.00) 100%);
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}


.footerContent{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topFooterBlock{
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
}
.leftFooterLinks{
    display: flex;
    height: 100%;
    width: fit-content;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 15px;
}
.leftFooterLinks > a:not(:first-child){
    margin-left: 10px;
}

.rightFooterLinks{
    display: flex;
    height: 100%;
    width: fit-content;
    align-items: flex-end;
    justify-content: flex-start;
}
.rightFooterLinks >a{
    margin-right: 10px;
}
.bottomFooterBlock{

    display: flex;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
    text-align: center;
}
.bottomFooterBlock >p{
    color: gray;
    font-size: 15px;
    font-weight: 500;
}

.leftFooterLinks img {
    width: 35px;
    height: 35px;
}
.rightFooterLinks img {
    width: 35px;
    height: 35px;
}



.rightFooterLinks > a:active, 
.leftFooterLinks > a:active{
    transform: scale(1.1);
}

@media screen and (max-width: 850px) {
    .leftFooterLinks img {
        width: 30px;
        height: 30px;
    }
    .rightFooterLinks img {
        width: 30px;
        height: 30px;
    }
}

