.reviews{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.reviewsContetn{
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 6px 5px 30px 0px rgba(0, 0, 0, 0.15);
    width: 1150px;
    height: fit-content;
    align-items: center;

}


.reviewsTitle{
    margin-top: 20px;
    margin-bottom: 15px;
}
.reviewsTitle > h1{
    font-size: 40px;
}

.reviewsSliderview{
    width: 1080px;
    height: 400px;
}

.reviewsTiket{
    display: flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.reviewsTiket p {  
    hyphens: auto;
    white-space: normal;
    height: 300px;
    padding: 0 25px;
    padding-top: 55px;
    font-size: 16px;
    font-weight: 500;
}
.reviewsTiket > div {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 6px 5px 15px 0px rgba(0, 0, 0, 0.15);
    width: 280px;
    height: 300px;
    margin: 20px 0;
    align-items: center;
    position: relative;
}
.reviewsTiketTopContent{
    display: flex;
    border-radius: 10px;
    width: 100%;
}
.reviewsTiketTopContent >img:first-child{
    width: 25px;
    height: 25px;
    margin-top: 20px;
    margin-left: 20px;
}
.reviewsTiketTopContent >img:nth-child(2){
    position: absolute;
    border-radius: 50px;
    box-shadow: 6px 5px 10px 0px rgba(0, 0, 0, 0.2);
    left: 32%;
    top: -20px;
    width: 100px;
    height: 100px;
}


/* vizual tiket */
.reviewsYellowTiketContent{
    background-color: rgba(254, 228, 64, 0.5);
}
.reviewsWhiteTiketContent{
    background-color: white;
}
.reviewsPinkTiketContent{
    background-color:  rgba(251, 177, 207, 0.5);
}

/* setings slik */
.reviewsSliderview .slick-dots {
    bottom: -40px !important;
    z-index: 99999;
}
.reviewsSliderview .slick-dots li.slick-active button:before {
    color:  #ed74a4  !important;
    opacity: 1;
    font-size: 16px;
}
.reviewsSliderview .slick-dots li button:before {
    color: #ed74a4 !important;
    opacity: .60;
    font-size: 13px;
}



.nextButton.next, .prevButton.prev {
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 6px 5px 15px 0px rgba(0, 0, 0, 0.15);
    width: 50px;
    height: 180px;
    cursor: pointer;
    transition: transform 0.2s ease;
    z-index: 1;
}
 
  
.nextButton.next > p, .prevButton.prev > p {
    color: #ed74a4 ;
    font-size: 40px;
    font-weight: 700;
    opacity: 0.5;
    margin-right: 2px;
    margin-bottom: 10px;
}
  
.nextButton.next:hover > p, .prevButton.prev:hover > p {
    opacity: 0.8;
}

.reviewsSliderview .slick-prev {
    left: -20px;
}
.reviewsSliderview .slick-next {
    right: -20px;
}
.slick-next:before, .slick-prev:before {
    display: none;
}





 @media screen and (max-width: 1200px) {
    .reviewsSliderview {
        width: 80%; 
        margin: 0 auto; 
    }
    .reviewsSliderview {
        width: 780px; 
        margin: 0 auto; 
    }
    .reviewsContetn{
        width: 800px;
    }
    .reviewsSliderview .slick-prev {
        left: -3px;
    }
    .reviewsSliderview .slick-next {
        right: -3px;
    }

}

@media screen and (max-width: 850px) {
    .reviewsTitle > h1{
        font-size: 35px;
    }
    .reviewsSliderview {
        width: 550px; 
        margin: 0 auto; 
    }
    .reviewsContetn{
        width: 550px;
    }
    .reviewsSliderview .slick-prev {
        left: 30px;
    }
    .reviewsSliderview .slick-next {
        right: 30px;
    }
   
}


@media screen and (max-width: 600px) {
    .reviewsTitle > h1{
        font-size: 30px;
    }
    .reviewsSliderview {
        width: 380px; 
        margin: 0 auto; 
    }
    .reviewsContetn{
        width: 380px;
    }
    .reviewsTiket > div {
        width: 250px;
    }


    .reviewsSliderview .slick-prev {
        left: 10px;
    }
    .reviewsSliderview .slick-next {
        right: 10px;
    }
    .nextButton.next, .prevButton.prev {
        width: 45px;
        height: 150px;
    }
    .nextButton.next > p, .prevButton.prev > p {
        font-size: 30px;
    }
   
   
 }